# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Output of the go coverage tool, specifically when used with LiteIDE

# Project-specific settings
.idea/

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a

# Folders
bin/
pkg/
vendor/

# Eclipse files
.classpath
.project
.settings/

# IntelliJ IDEA files
*.iml
*.ipr
*.iws

# Visual Studio Code files
.vscode/

# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Go specific
/go/bin/
/go/pkg/

# test go file
main.go
test.proto

# Dependency directories (remove the comment below to include it)
# vendor/
